p{
    cursor: pointer;
}

.clrs{
    background: #16222a; 
    background: -webkit-linear-gradient(to right, #16222a, #3a6073); 
    background: linear-gradient(to right, #16222a, #3a6073); 
}

.pri {
    color: #dfd0d0; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.cursor{
    cursor: pointer;
}