<section class="pb-3 rounded">
    <div class="container-fluid align-content-center bg-light text-center p-4 row">
        <div class="col-2">
            <a [routerLink]="['/home']" class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <div class="col text-end">
            <a routerLink="/products/form" class="btn btn-success  ms-3">Add product</a>
        </div>
    </div>
</section>

<section class="pb-3 rounded pri">
    <div class="container-fluid">
        <div class="row clrs rounded m-1">
            <div class="col">
                <div class="mt-4">
                </div>
            </div>
            <div class="col">
                <label class="form-label" for="form1">Search</label>
                <input type="search" class="form-control" [(ngModel)]="searchTerm" >
            </div>
            <div class="col d-flex justify-content-end ">
                <div class="dropdown mt-4" *ngIf="!deleteMode">
                    <button
                      class="btn btn-outline-dark  dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                    >
                      {{ categoryFilter }}
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          class="dropdown-item cursor"
                          (click)="updateCategoryFilter('All')"
                        >
                          <strong>All</strong>
                        </a>
                      </li>
                      <li>
                        <a
                          *ngFor="let category of uniqueCategories"
                          class="dropdown-item cursor"
                          (click)="updateCategoryFilter(category)"
                        >
                          {{ category }}
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="dropdown mt-4" *ngIf="deleteMode">
                    <button
                      class="btn btn-outline-dark  dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                    >
                      {{ categoryFilter }}
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          class="dropdown-item cursor"
                          (click)="updateCategoryFilter('All')"
                        >
                          <strong>All</strong>
                        </a>
                      </li>
                      <li>
                        <a 
                          *ngFor="let category of uniqueCategoriesDeleted"
                          class="dropdown-item cursor"
                          (click)="updateCategoryFilter(category!)"
                        >
                          {{ category }}
                        </a>
                      </li>
                    </ul>
                  </div>
            </div>
            
            
            <div class="col d-flex justify-content-end">
                <div class="mt-4">
                    <button type="button" class="btn btn-dark" (click)="changeMode()">{{ !deleteMode ? 'Show deleted' : 'Hide deleted' }}</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="productsList.length > 0 && !deleteMode" class="pb-3 rounded">
    <div class="container-fluid">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="bg-dark text-light ">Image</th>
                    <th scope="col" class="bg-dark text-light ">SKU / Product name</th>
                    <th scope="col" class="bg-dark text-light ">Category</th>
                    <th scope="col" class="bg-dark text-light ">Price</th>
                    <th scope="col" class="bg-dark text-light ">Supplier</th>                    
                    <th scope="col" class="bg-dark text-light ">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productsList | categoryFilter: categoryFilter | search: searchTerm ">
                    <td>
                        <img src="{{getImage(product.id!)}}" alt="Image" style="height: 50px; width: 50px;" (error)="handleImageError($event)">
                    </td>
                    <td> <div>{{product.sku}}</div>
                         <div class="d-flex ">{{product.name}} <span class="badge mx-3 text-bg-danger" *ngIf="product.supplier.deleted">Supplier deleted</span></div> </td>
                    <td>{{product.category.name}}</td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td>{{product.supplier.name}}</td>             
                    <td>
                        <button class="btn btn-danger mx-2" (click)="deleteProduct(product.id!)">Delete</button>
                        <button class="btn btn-warning mx-2" (click)="editProduct(product.id!)">Edit</button>
                        <button class="btn btn-info mx-2 " (click)="detailsProd(product.id!)">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section *ngIf="productsListDeleted.length > 0 && deleteMode" class="pb-3 rounded">
    <div class="container-fluid">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="bg-dark text-light ">Image</th>
                    <th scope="col" class="bg-dark text-light ">SKU / Product name</th>
                    <th scope="col" class="bg-dark text-light ">Category</th>
                    <th scope="col" class="bg-dark text-light ">Price</th>
                    <th scope="col" class="bg-dark text-light ">Supplier</th>                    
                    <th scope="col" class="bg-dark text-light ">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productsListDeleted | categoryFilter: categoryFilter | search: searchTerm">
                    <td>
                        <img src="{{getImage(product.id)}}" alt="Image" style="height: 50px; width: 50px;" (error)="handleImageError($event)">
                    </td>
                    <td> <div>{{product.sku}}</div>
                         <div>{{product.name}}</div> </td>
                    <td>{{product.category.name}}</td>
                    <td>{{product.price | currency:'USD'}}</td>
                    <td>{{product.supplier.name}}</td>             
                    <td>
                        <button class="btn btn-success  mx-2" (click)="resProd(product.id!)">Restore</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<section *ngIf="productsListDeleted.length == 0 && deleteMode" class="pb-3 rounded">
    <div class="col text-center">
        <h3>There are no deleted products on the list!</h3>
     </div>
</section>

<section *ngIf="productsList.length == 0 && !deleteMode" class="pb-3 rounded">
    <div class="col text-center">
        <h3>There is not products on the list!</h3>
     </div>
</section>

