<div class="card mb-5">
    <div class="row g-0 ">
        <div *ngIf="!editMode" class="col-6 border">
            <div class="card-body">
                <h1>Add Product</h1>
                <hr>
                <div class="container-fluid p-2 ">
                    <form #myProduct="ngForm" (ngSubmit)="addProductToOrder(product.id!)">
                        <div class="row pb-2">
                            <label class="form-label">Choose product</label>
                            <select class="form-select" name="product" aria-label="Select Product"
                                [(ngModel)]="product.id" (change)="loadProduct(productSelected.value)"
                                #productSelected="ngModel" required [ngClass]="productSelected.errors ? 'is-invalid' : 'is-valid'">
                                <option [value]="product.id" *ngFor="let product of selectedProductsList">{{
                                    product.name }}</option>
                            </select>
                        </div>
                        <div class="row pb-2 ">
                            <div class="col">
                                <label class="form-label">Price</label>
                                <div class="form-control gray-background">{{ product.price |
                                    currency:'USD':'symbol':'1.2-2' }}</div>
                            </div>
                            <div class="col">
                                <label class="form-label">Amount</label>
                                <input type="number" #quantity="ngModel" class="form-control" name="quantity" [(ngModel)]="orderDetail.quantity" required min="1" [ngClass]="quantity.errors ? 'is-invalid' : 'is-valid'">
                                <div *ngIf="myProduct.controls['quantity']?.errors && (myProduct.controls['quantity'].dirty || myProduct.controls['quantity'].touched)">
                                    <p class="text-danger">Amount must be greater than 0.</p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid p-2 ">
                            <button type="submit" class="btn btn-success" [disabled]="myProduct.invalid">Load
                                Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card-body">
                <div class="row ">
                    <div class="col">
                        <h1>{{ editMode ? 'Edit Order' : 'New Purchase Order' }}</h1>
                    </div>
                    <div class="col text-center ">
                        <div class="col d-flex justify-content-center ">
                            <div class="row">
                                <a routerLink="../" class="btn btn-dark btn-light  justify-content-end ">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <p>{{ editMode ? 'Edit Order' : 'Add order' }}</p>

                <div class="container-fluid p-2 ">
                    <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
                        <div class="row pb-2">
                            <label class="form-label">Choose supplier</label>
                            <select class="form-select" name="supplier" aria-label="Select supplier"
                                [(ngModel)]="selectedSupplierId" (ngModelChange)="selectSupplier($event)"
                                #supplierSelect="ngModel" [ngClass]="supplierSelect.errors ? 'is-invalid' : 'is-valid'" required [disabled]="isSupplierSelectDisabled">
                                <option *ngFor="let supplier of supplierList" [value]="supplier.id">{{ supplier.name }}
                                </option>
                            </select>
                        </div>
                        <div class="row pb-2 ">
                            <div class="col">
                                <label class="form-label">Order Date</label>
                                <input type="text" class="form-control gray-background" contentEditable="false"
                                    name="created" [ngModel]="Order.created" [readonly]="editMode">
                            </div>
                            <div class="col">
                                <label class="form-label">Expected Date</label>
                                <input type="date" class="form-control" name="expected" [(ngModel)]="Order.expected" #expected="ngModel"
                                    required [min]="getMinDate()" [max]="getMaxDate()" [ngClass]="expected.errors || !isDeliveryDateValid() ? 'is-invalid' : 'is-valid'  ">
                            </div>
                        </div>
                        <div class="row pb-2">
                            <label class="form-label">Order Info</label>
                            <textarea class="form-control" name="info" 
                            [(ngModel)]="Order.info" rows="3" #info="ngModel"
                            required pattern=".{4,300}"
                            [ngClass]="info.errors ? 'is-invalid' : 'is-valid'"
                                required></textarea>
                                <div
                                *ngIf="myForm.controls['info']?.hasError('pattern') && myForm.controls['info'].touched">
                                <p class="text-danger ">The description be between 4 and 300 characters</p>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <hr>
                        </div>
                        <div class="row pb-2">
                            <div *ngIf="detailList.length > 0">
                                <h3>Selected Products</h3>
                                <ul>
                                    <li *ngFor="let detail of detailList">
                                        {{ detail.product.name }} - {{ detail.product.price |
                                        currency:'USD':'symbol':'1.2-2' }}
                                        - {{'subtotal: ' + ((detail.product.price * detail.quantity) |
                                        currency:'USD':'symbol':'1.2-2')}}
                                        - {{'('+detail.quantity+')'}}
                                    </li>
                                </ul>
                                <hr>
                                <p>Total Price: {{ calculateTotal() | currency:'USD':'symbol':'1.2-2'}}</p>
                            </div>
                        </div>
                        <div *ngIf="editMode">
                            <div class="row pb-2">
                                <label class="form-label">Choose status</label>
                                <select class="form-select" name="status" aria-label="Select status"
                                    [(ngModel)]="Order.status.id" 
                                    #statusSelect="ngModel" >
                                    <option *ngFor="let status of statusList" [value]="status.id">{{ status.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="container-fluid p-2 ">
                            <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">{{ editMode ? 'Save changes' : 'Add Order'
                            }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>