<div class="card mb-5">
    <div class="row g-0 ">
        <div class="col-6 border">
            <div class="card-body">
                <h1>Add Product</h1>
                <hr>
                <div class="container-fluid p-2 ">
                    <form #myProduct="ngForm" (ngSubmit)="addProductToOrder()">
                        <div class="row pb-2">
                            <label class="form-label">Choose product</label>
                            <select class="form-select" name="product" aria-label="Select Product" [(ngModel)]="product.id"
                                (change)="loadProduct(productSelected.value)" #productSelected="ngModel">
                                <option value="{{product.sku}}" *ngFor="let product of productsList">{{
                                    product.nameProduct}}</option>
                            </select>
                        </div>
                        <div class="row pb-2 ">
                            <div class="col">
                                <label class="form-label">Price</label>
                                <div class="form-control gray-background">{{ product.price |
                                    currency:'USD':'symbol':'1.2-2' }}</div>
                            </div>
                            <div class="col">
                                <label class="form-label">Amount</label>
                                <input type="number" class="form-control" name="quantity" [(ngModel)]="product.quantity">
                            </div>
                        </div>
                        <div class="container-fluid p-2 ">
                            <button type="submit" class="btn btn-success" [disabled]="myProduct.invalid">Load
                                Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card-body">
                <div class="row ">
                    <div class="col"><h1>New Purchase Order</h1></div>
                    <div class="col text-center ">
                         <div class="col d-flex justify-content-center ">
                            <div class="row">
                                <a routerLink="../" class="btn btn-dark btn-light  justify-content-end ">Come Back</a>
                            </div>                  
                        </div>
                    </div>
                </div>
                <hr>
                <p>{{ editMode ? 'Edit Order' : 'Add order' }}</p>
                <div class="container-fluid p-2 ">
                    <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
                        <div class="row pb-2">
                            <label class="form-label">Choose supplier</label>
                            <select class="form-select" name="supplier" aria-label="Select supplier"
                                [(ngModel)]="Order.supplier.name" (change)="selectSupplier(supplierSelect.value)" #supplierSelect="ngModel">
                                <option *ngFor="let supplier of supplierList" [value]="supplier.name">{{ supplier.name }}
                                </option>
                            </select>
                        </div>
                        <div class="row pb-2 ">
                            <div class="col">
                                <label class="form-label">Order Date</label>
                                <div class="form-control gray-background" contentEditable="false" [(ngModel)]="Order.date">{{ Order.date |
                                    date:'dd-MM-yyyy' }}</div>
                            </div>
                            <div class="col">
                                <label class="form-label">Expected Date</label>
                                <input type="date" class="form-control" name="expectedDate"
                                    [(ngModel)]="Order.expectedDate" required>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <label class="form-label">Order Info</label>
                            <textarea class="form-control" name="info" [(ngModel)]="Order.info" rows="3" required></textarea>
                        </div>
                        <div class="row pb-2">
                            <hr>
                        </div>
                        <div class="row pb-2">
                            <div *ngIf="Order.products.length > 0">
                                <h3>Selected Products</h3>
                                <ul>
                                    <li *ngFor="let product of Order.products">
                                        {{ product.nameProduct }} - {{ product.price | currency:'USD':'symbol':'1.2-2'
                                        }}
                                    </li>
                                </ul>
                                <hr>
                                <p>Total Price {{Order.totalPrice}}</p>
                            </div>
                        </div>
                        <div class="container-fluid p-2 ">
                            <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">Add Order</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>