<div class="card mb-5">
    <div class="row g-0 ">
        <div class="col-6 border">
            <img src="imagenes/proveedores-añadir.webp" class="img-fluid rounded-start w-75" id="imagen" alt="...">
        </div>
        <div class="col-6">
            <div class="card-body">
                <h1>Supplierr</h1>
                <p>Add supplier</p>
                <div class="container-fluid p-2 ">
                    <div class="row pb-2 ">
                        <input id="codigo" type="text" class="form-control"
                            placeholder="Ingrese el codigo de su proveedor">
                    </div>
                    <div class="row pb-2 ">
                        <input id="razon" type="text" class="form-control"
                            placeholder="Ingrese la razon social de su proveedor">
                    </div>
                    <div class="row pb-2 ">
                        <input id="rubro" type="text" class="form-control"
                            placeholder="Ingrese el rubro de su proveedor">
                    </div>
                    <div class="row pb-2 ">
                        <input id="email" type="email" class="form-control"
                            placeholder="Ingrese el email de su proveedor">
                    </div>
                    <div class="row pb-2 ">
                        <input id="direccion" type="text" class="form-control"
                            placeholder="Ingrese la direccion de su proveedor">
                    </div>
                </div>
                <div class="container-fluid p-2 ">
                    <button type="submit" class="btn btn-success" id="boton">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>