<div class="card mb-5">
    <div class="row g-0">
        <div class="col">
            <div class="card-body">
                <div class="container-fluid p-2">
                    <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
                        <div class="row pb-2">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h3>Provider Data</h3>
                                    </div>
                                    <div class="col d-flex text-end  ">
                                        <a routerLink="../" class="btn btn-dark btn-light  justify-content-end ">Come
                                            Back</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label class="form-label  d-flex">Business Name<h4 class="text-danger"> *</h4></label>
                                <input type="text" class="form-control" placeholder="Enter the supplier name"
                                    #name="ngModel" name="name" [(ngModel)]="supplier.name" required
                                    pattern="[a-zA-Z\s]{4,25}" [ngClass]="name.errors ? 'is-invalid' : 'is-valid'" />
                                <div
                                    *ngIf="myForm.controls['name']?.hasError('pattern') && myForm.controls['name'].touched">
                                    <p class="text-danger ">The name must be between 4 and 25 characters</p>
                                </div>
                            </div>
                            <div>
                                <label class="form-label d-flex">Supplier Code<h4 class="text-danger"> *</h4></label>
                                <input type="text" class="form-control" placeholder="Enter your code" name="codeSupp"
                                    #codeSupp="ngModel" [(ngModel)]="supplier.code" required pattern=".{3,15}"
                                    [ngClass]="codeSupp.errors ? 'is-invalid' : 'is-valid'">
                                <div *ngIf="myForm.controls['codeSupp']?.hasError('pattern') && myForm.controls['codeSupp'].touched">
                                    <p class="text-danger">The code must be between 3 and 15 characters</p>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="row pb-2">
                                <div class="col">
                                    <label class="form-label d-flex">Country<h4 class="text-danger"> *</h4></label>
                                    <select type="text" #country="ngModel" name="country" class="form-select"
                                        [(ngModel)]="supplier.province.country" required (change)="selectCountry()">
                                        <option *ngFor="let country of countries" value="{{country.name}}">
                                            {{country.name}}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="form-label d-flex">Street<h4 class="text-danger"> *</h4></label>
                                    <input type="text" class="form-control" placeholder="Street" name="street"
                                        #street="ngModel" [(ngModel)]="supplier.street" required
                                        pattern="[a-zA-Z\s]{2,17}"
                                        [ngClass]="street.errors ? 'is-invalid' : 'is-valid'" />
                                    <div
                                        *ngIf="myForm.controls['street']?.hasError('pattern') && myForm.controls['street'].touched">
                                        <p class="text-danger">The street must contain only letters and be between 2 and
                                            17 characters long</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col">
                                    <label class="form-label d-flex">Province<h4 class="text-danger"> *</h4></label>
                                    <select type="text" #province="ngModel" name="province" class="form-select"
                                        [(ngModel)]="supplier.province" required>
                                        <option *ngFor="let state of states" value="{{state.name}}">{{state.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="form-label d-flex">Postal code<h4 class="text-danger"> *</h4></label>
                                    <input type="text" class="form-control" placeholder="Postal Code" name="postalCode"
                                        [(ngModel)]="supplier.zip" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label d-flex">City<h4 class="text-danger"> *</h4></label>
                                    <input type="text" #city="ngModel" name="city" class="form-select"
                                        [(ngModel)]="supplier.city" required />                              
                                </div>
                                <div class="col">
                                    <label class="form-label d-flex">Number<h4 class="text-danger"> *</h4></label>
                                    <input type="number" class="form-control" placeholder="Number" name="snumber"
                                        [(ngModel)]="supplier.snumber" required />
                                </div>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <label class="form-label d-flex">Choose Sector <h4 class="text-danger"> *</h4></label>
                            <select name="sectors" aria-label="Select Sector" [(ngModel)]="supplier.sector" class="form-select" required>
                               <option *ngFor="let sector of sectorsList" [ngValue]="sector">{{ sector.name }}</option>
                            </select>
                         </div>
                        <div class="row pb-2">
                            <div>
                                <h3>Contact Data</h3>
                            </div>
                            <label class="form-label d-flex ">Email <h4 class="text-danger"> *</h4></label>
                            <input type="email" class="form-control" placeholder="Enter Email" name="email"
                                [(ngModel)]="supplier.email" />
                        </div>
                        <div class="row pb-2">
                            <label class="form-label">Web</label>
                            <input type="text" class="form-control" placeholder="Enter web site" name="web"
                                [(ngModel)]="supplier.web" required />
                        </div>
                        <div class="row pb-2">
                            <label class="form-label">Phone</label>
                            <input type="tel" class="form-control" placeholder="Enter your phone" name="phone"
                                #phone="ngModel" [(ngModel)]="supplier.phone" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                                [ngClass]="phone.errors ? 'is-invalid' : 'is-valid'" />
                            <div
                                *ngIf="myForm.controls['phone']?.hasError('pattern') && myForm.controls['phone'].touched">
                                <p class="text-danger">Invalid phone number format. Please use the format xxx-xxxx-xxxx.
                                </p>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div>
                                <h3>Fiscal Data</h3>
                            </div>
                            <label class="form-label d-flex ">CUIT<h4 class="text-danger"> *</h4></label>
                            <input type="text" class="form-control" placeholder="Enter CUIT" name="cuit"
                                [(ngModel)]="supplier.cuit" required pattern="[0-9]{11}" />
                        </div>
                        <div class="row pb-2">
                            <label class="form-label d-flex ">Choose IVA Condition<h4 class="text-danger"> *</h4>
                            </label>
                            <select name="iva" aria-label="Select IVA" [(ngModel)]="supplier.vatCondition" class="form-select"
                                required>
                                <option value="IVA Responsable Inscripto">
                                    IVA Responsable Inscripto
                                </option>
                                <option value="IVA Responsable no Inscripto">
                                    IVA Responsable no Inscripto
                                </option>
                                <option value="Monotributista Social">
                                    Monotributista Social
                                </option>
                                <option value="Proveedor del Exterior">
                                    Proveedor del Exterior
                                </option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="container-fluid p-2">
                            <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">
                                {{ editMode ? "Edit" : "Add" }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>