.cursor{
    cursor: pointer;
}

.pri {
    color: #dfd0d0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.clrs {
    background: rgb(2, 0, 36);
    background: linear-gradient(144deg, rgba(2, 0, 36, 1) 0%, rgba(22, 27, 60, 1) 4%, rgba(7, 120, 139, 1) 100%);
}