<div class="container-fluid">
    <div class="row">
        <header><app-navbar></app-navbar></header>
    </div>
    <div class="row container-fluid  align-content-center contenedor">
        <div class="col">
            <div class="card text-light" style="width: 22rem;">
                <img src="assets/supplier-icon.jpg" class="card-img-top" alt="suppliers"
                    style="height: 40vh;">
                <div class="card-body text-center p-2">
                    <div class="row my-2">
                        <h1>{{suppliersList.length}} Suppliers </h1>
                    </div>
                    <div class="row">
                        <a routerLink="/suppliers" class="btn boton p-2">See suppliers</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-light" style="width: 22rem;">
                <img src="assets/products-icons.webp" class="card-img-top" alt="products"
                    style="height: 40vh;">
                <div class="card-body text-center p-2">
                    <div class="row my-2">
                        <h1>{{productsList.length}} Products </h1>
                    </div>
                    <div class="row">
                        <a routerLink="/products" class="btn boton p-2">See products</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-light" style="width: 22rem;">
                <img src="assets/orden de compra.jpg" class="card-img-top" alt="orden-de-compra"
                    style="height: 40vh;">
                <div class="card-body text-center p-2">
                    <div class="row my-2">
                        <h1>{{ordersList.length}} Orders </h1>
                    </div>
                    <div class="row">
                        <a routerLink="/orders" class="btn boton p-2">Place Purchase Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <footer><app-footer></app-footer></footer>
    </div>
</div>