<section class="pb-3 rounded">
    <div class="container-fluid align-content-center bg-light text-center p-4 row">
        <div class="col-2">
            <a [routerLink]="['/home']" class="btn btn-dark"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <div class="col text-end">
            <a routerLink="/suppliers/form" class="btn btn-success  ms-3">Add supplier</a>
        </div>
    </div>
</section>

<section class="pb-3 rounded pri">
    <div class="container-fluid">
        <div class="row clrs rounded m-1">
            <div class="col">
                <div class="mt-4">
                </div>
            </div>
            <div class="col">
                <label class="form-label" for="form1">Search</label>
                <input type="search" class="form-control" [(ngModel)]="searchTerm" >
            </div>
            <div class="col d-flex justify-content-end">
                <div class="mt-4">
                    <button type="button" class="btn btn-dark" (click)="changeMode()">{{ !deleteMode ? 'Show deleted' : 'Hide deleted' }}</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="supplierList.length > 0 && !deleteMode" class="pb-3 rounded">
    <div class="container-fluid" id="tabla">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="bg-dark text-light ">Logo</th>
                    <th scope="col" class="bg-dark text-light ">Code</th>
                    <th scope="col" class="bg-dark text-light ">Business name</th>
                    <th scope="col" class="bg-dark text-light ">Country / Province</th>
                    <th scope="col" class="bg-dark text-light ">Contact details</th>
                    <th scope="col" class="bg-dark text-light ">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supplier of supplierList | search: searchTerm">
                    <td> <img src="{{supplier.logo}}" alt="Image" style="height: 50px; width: 50px;" (error)="handleImageError($event)">
                    </td>
                    <td>{{supplier.code}}</td>
                    <td>{{supplier.name}}</td>
                    <td><div>{{supplier.province.country?.name}}</div>
                        <div>{{supplier.province.name}}</div></td>
                    <td>
                        <ng-template #listTooltip>
                            <div class="d-flex flex-column">
                              <span>{{ supplier.web }}</span>
                              <span>{{ supplier.email }}</span>
                              <span>{{ supplier.phone }}</span>
                            </div>
                          </ng-template>
                        <div>{{supplier.contact.name}}  {{supplier.contact.lastName}}
                            <button type="button" class="btn  me-2" placement="top" [ngbTooltip]="listTooltip" tooltipClass="tool">
                                <i class="fa-solid fa-circle-info"></i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-danger mx-2 " (click)="delete(supplier.id!)">Delete</button>
                        <button class="btn btn-warning mx-2" (click)="edit(supplier.id!)">Edit</button>
                        <button class="btn btn-info mx-2" (click)="detailsSupp(supplier.id!)">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section *ngIf="supplierListDelete.length > 0 && deleteMode" class="pb-3 rounded">
    <div class="container-fluid" id="tabla">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="bg-dark text-light ">Logo</th>
                    <th scope="col" class="bg-dark text-light ">Code</th>
                    <th scope="col" class="bg-dark text-light ">Business name</th>
                    <th scope="col" class="bg-dark text-light ">Country / Province</th>
                    <th scope="col" class="bg-dark text-light ">Contact details </th>
                    <th scope="col" class="bg-dark text-light ">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supplier of supplierListDelete">
                    <td> <img src="{{supplier.logo}}" alt="Image" style="height: 50px; width: 50px;" (error)="handleImageError($event)">
                    </td>
                    <td>{{supplier.code}}</td>
                    <td>{{supplier.name}}</td>
                    <td><div>{{supplier.province.country?.name}}</div>
                        <div>{{supplier.province.name}}</div></td>
                    <td>
                        <ng-template #listTooltip>
                            <div class="d-flex flex-column">
                              <span>{{ supplier.web }}</span>
                              <span>{{ supplier.email }}</span>
                              <span>{{ supplier.phone }}</span>
                            </div>
                          </ng-template>
                        <div>{{supplier.contact.name}}  {{supplier.contact.lastName}}
                            <button type="button" class="btn  me-2" placement="top" [ngbTooltip]="listTooltip" tooltipClass="tool">
                                <i class="fa-solid fa-circle-info"></i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-success mx-2 " (click)="restSupp(supplier.id!)">Restore</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<section *ngIf="supplierListDelete.length == 0 && deleteMode" class="pb-3 rounded">
    <div class="col text-center">
        <h3>There are no deleted suppliers on the list!</h3>
     </div>
</section>

<section *ngIf="supplierList.length == 0 && !deleteMode" class="pb-3 rounded">
    <div class="col text-center">
        <h3>There is no suppliers on the list!</h3>
     </div>
</section>