<section class="pb-3 rounded">
    <div class="container-fluid align-content-center bg-light  text-center p-4">
        <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling">Suppliers options</button>
    
        <a [routerLink]="['/home']" class="btn btn-dark ms-3">Main Menu</a>
    
        <div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h4 class="offcanvas-title" id="offcanvasScrollingLabel">Welcome to the suppliers Options Menu</h4>
            </div>
            <div class="offcanvas-body">
                <h2>Select an option</h2>
                <ul class="text-success ">
                    <li>
                        <p class="h5 text-decoration-none text-success" data-bs-dismiss="offcanvas">See the list</p>
                    </li>
                    <li><a routerLink="/suppliers/add" class="h5 text-decoration-none text-success">Add
                            supplier</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section *ngIf="supplierList.length > 0" class="pb-3 rounded">
    <div class="container-fluid" id="tabla">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="bg-dark text-light ">Code</th>
                    <th scope="col" class="bg-dark text-light ">CodeS</th>
                    <th scope="col" class="bg-dark text-light ">Business Name</th>
                    <th scope="col" class="bg-dark text-light ">Field</th>
                    <th scope="col" class="bg-dark text-light ">Cuit</th>
                    <th scope="col" class="bg-dark text-light ">Email/Phone/Web</th>
                    <th scope="col" class="bg-dark text-light ">Addres</th>
                    <th scope="col" class="bg-dark text-light ">Fiscal Data</th>
                    <th scope="col" class="bg-dark text-light ">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supplier of supplierList">
                    <td>{{supplier.code}}</td>
                    <td>{{supplier.codeSupp}}</td>
                    <td>{{supplier.name}}</td>
                    <td>{{supplier.field}}</td>
                    <td>{{supplier.cuit | cuitPipe}}</td>
                    <td>
                        <p>{{supplier.email}}</p>
                        <p>{{supplier.phone}}</p>
                        <p>{{supplier.web}}</p> 
                    </td>
                    <td>
                       <p>{{supplier.country}} - {{supplier.province}}</p>
                       <p>{{supplier.city}} -  {{supplier.postalCode}}</p>
                       <p>{{supplier.street}} - {{supplier.number}}</p> 
                    </td>
                    <td>{{supplier.iva}}</td>
                    <td>
                        <button class="btn btn-danger mx-2 " (click)="delete(supplier.code!)">Delete</button>
                        <button class="btn btn-warning" (click)="edit(supplier.code!)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section *ngIf="supplierList.length == 0" class="pb-3 rounded">
    <div class="col text-center">
        <h3>There is no suppliers on the list!</h3>
     </div>
</section>